<nz-modal [nzVisible]="modalVisible" [nzTitle]="'新建规则'" [nzConfirmLoading]="loading" [nzContent]="modalContent"
          (nzOnCancel)="modalVisible=false" (nzOnOk)="save()">
    <ng-template #modalContent>
        <div nz-form-item class="d-flex">
            <div nz-form-label><label for="no">描述</label></div>
            <div nz-form-control class="flex-1">
                <nz-input [(ngModel)]="description" name="description" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="no"></nz-input>
            </div>
        </div>
    </ng-template>
</nz-modal>
