<!--引入面包屑组件-->
<pro-header></pro-header>

<!--引入list组件-->
<nz-card [nzBordered]="false">
    <!--  form表单搜索 -->
    <form nz-form (ngSubmit)="search()" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="guidApp">应用系统</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="system.guidApp" name="guidApp" [nzSize]="'large'" [nzPlaceHolder]="'应用系统'" nzId="guidApp">
                            <nz-option *ngFor="let i of guidApp; let app = index" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="groupName">参数组别</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="system.groupName" name="name" [nzSize]="'large'" [nzPlaceHolder]="'参数组别'" nzId="groupName"></nz-input>
                    </div>
                </div>
            </div>
            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="keyName">参数键</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="system.keyName" name="name" [nzSize]="'large'" [nzPlaceHolder]="'参数键'" nzId="keyName"></nz-input>
                    </div>
                </div>
            </div>
            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="valueFrom">参数值类型</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="system.valueFrom" name="valueFrom" [nzSize]="'large'" [nzPlaceHolder]="'参数值类型'"
                                   nzId="valueFrom">
                            <nz-option *ngFor="let i of valueFrom; let app = index" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="value">参数值</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="system.value" name="value" [nzSize]="'large'" [nzPlaceHolder]="'参数值'" nzId="value">
                            <nz-option *ngFor="let i of value; let app = index" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="reset()" [nzSize]="'large'" class="mx-sm">重置</button>
                <a (click)="expandForm=!expandForm">
                    {{expandForm ? '收起' : '展开'}}
                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                </a>
            </div>
        </div>
    </form>
    <!--列表组件-->
    <app-list #child [initDate]="data" (addCreat)="addHandler($event)" (buttonData)="buttonDataHandler($event)" (pageNumber)="monitorHandler($event)"
              (deleatData)="deleatData($event)" [configTitle]="configTitle"  (isActive)="isActive($event)" (selectedRow)="selectedRow($event)" [headerDate]="headerData"
              [moreData]="moreData" [total]="total"></app-list>
</nz-card>


<!-- 弹出框 -->
<nz-modal [nzVisible]="modalVisible" [nzWidth]="1024" [nzTitle]="'新增运行参数'" [nzConfirmLoading]="loading" [nzContent]="modalContent"
          (nzOnCancel)="modalVisible=false" (nzOnOk)="save()">
    <ng-template #modalContent>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="guidApp">应用系统</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="sysAdd.guidApp" name="guidApp" [nzSize]="'large'" [nzPlaceHolder]="'应用系统'" nzId="guidApp">
                            <nz-option *ngFor="let i of guidApp; let app = index" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="groupName">参数组别</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="sysAdd.groupName" name="name" [nzSize]="'large'" [nzPlaceHolder]="'参数组别'" nzId="groupName"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="keyName">参数键</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="sysAdd.keyName" name="name" [nzSize]="'large'" [nzPlaceHolder]="'参数键'" nzId="keyName"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="valueFrom">参数值类型</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="sysAdd.valueFrom" (ngModelChange)="checkSelect(sysAdd.valueFrom,sysAdd.value)"
                                   name="valueFrom" [nzSize]="'large'" [nzPlaceHolder]="'参数值类型'" nzId="valueFrom">
                            <nz-option *ngFor="let i of valueFrom; let app = index" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div *ngIf="isshow" nz-col [nzSpan]="12" class="mb-md">
                <div *ngIf="sysAdd.valueFrom !=='H'" nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="value">参数值</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="sysAdd.value" name="value" [nzSize]="'large'" [nzPlaceHolder]="'参数值'" nzId="value">
                            <nz-option *ngFor="let i of value; let app = index" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div *ngIf="sysAdd.valueFrom ==='H'" nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="value">参数值</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="sysAdd.value" name="stringvalue" [nzSize]="'large'" [nzPlaceHolder]="'参数值'" nzId="stringvalue"></nz-input>
                    </div>
                </div>
            </div>
        </div>
        <div nz-form-item class="d-flex">
            <div nz-form-label class="alignment">
            <label for="no">参数描述</label>
        </div>
            <div nz-form-control class="flex-1">
                <nz-input [(ngModel)]="sysAdd.description" nzAutosize=true nzType="textarea" name="description" [nzSize]="'large'" [nzPlaceHolder]="'参数描述'"
                          nzId="description"></nz-input>
            </div>
        </div>
    </ng-template>

</nz-modal>
