<pro-header></pro-header>

<!--引入list组件-->
<nz-card nzTitle="日志管理" *ngIf="isshow" [nzBordered]="false">
    <!--  form表单搜索 -->
    <form nz-form (ngSubmit)="search()" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="guidApp">操作类型</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="logitem.operateType" name="operatorType" [nzSize]="'large'" [nzPlaceHolder]="'操作结果'" nzId="operatorType">
                            <nz-option *ngFor="let i of operatorType;" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="guidApp">操作结果</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="logitem.operateResult" name="operatorResult" [nzSize]="'large'" [nzPlaceHolder]="'操作结果'" nzId="operatorResult">
                            <nz-option *ngFor="let i of operatorResult; let app = index" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div  nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="keyName">应用名称</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="logitem.appName" name="name" [nzSize]="'large'" [nzPlaceHolder]="'参数键'" nzId="keyName"></nz-input>
                    </div>
                </div>
            </div>
            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="groupName">登陆用户名</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="logitem.userId" name="userId" [nzSize]="'large'" [nzPlaceHolder]="'操作员'" nzId="userId"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
                <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="reset()" [nzSize]="'large'" class="mx-sm">重置</button>
                <a (click)="expandForm=!expandForm">
                    {{expandForm ? '收起' : '展开'}}
                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                </a>
            </div>
        </div>
    </form>
    <!--列表组件-->
    <app-list #child
              [showAdd]="showAdd"
              [configTitle]="configTitle"
              [initDate]="data"
              (addCreat)="addHandler($event)"
              (buttonData)="buttonDataHandler($event)"
              (pageNumber)="monitorHandler($event)"
              (deleatData)="deleatData($event)"
              (isActive)="isActive($event)"
              (selectedRow)="selectedRow($event)"
              [headerDate]="headerData"
              [moreData]="moreData"
              [total]="total"
              [pageindex]='pageIndex'>

    </app-list>
</nz-card>


