 <div nz-row [nzType]="'flex'" [nzJustify]="'space-around'" [nzAlign]="'middle'">
       
        <div nz-col [nzSpan]="24" style="margin: 5rem 0 14rem;text-align:center">
              <h3 style="font-weight:bold;margin-bottom: 15px;">{{buttonTitle}}</h3>
               <p class="height-50">
                    <button nz-button [nzType]="'primary'">
                <i class="anticon anticon-plus"></i>
                      <span>{{buttonText}}</span>
                  </button>
             </p>
           
        </div>
    
      </div>