<!--引入面包屑组件-->
<pro-header></pro-header>

<!--引入list组件-->

<div class="ui-g">
    <div class="ui-g-6" >
        <p-card>
            <form nz-form (ngSubmit)="search()" [nzLayout]="'inline'">
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label><label for="conditions">筛选条件</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-input [(ngModel)]="dict.conditions" name="conditions" [nzSize]="'large'" [nzPlaceHolder]="'筛选条件'" nzId="conditions"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="8" class="mb-md">
                        <div nz-form-item class="d-flex">
                            <div nz-form-label><label for="dictType">字典类型</label></div>
                            <div nz-form-control class="flex-1">
                                <nz-select style="width:100%" [(ngModel)]="dict.dictType"  name="字典类型" [nzSize]="'large'" [nzPlaceHolder]="'字典类型'" nzId="字典类型">
                                    <nz-option  *ngFor="let i of dictType; let idx = index" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
                        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                        <button nz-button type="reset" (click)="reset()" [nzSize]="'large'" class="mx-sm">重置</button>
                        <!--<a (click)="expandForm=!expandForm">
                            {{expandForm ? '收起' : '展开'}}
                            <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                        </a>-->
                    </div>
                </div>
            </form>
            <app-list #list
                      (addCreat)="addHandler($event)"
                      [configTitle]="configTitle"
                      [total]="total"
                      (buttonEvent) = "buttonEvent($event)"
                      (buttonData)="buttonDataHandler($event)"
                      (pageNumber)="monitorHandler($event)"
                      (isActive)="isActive($event)"
                      (selectedRow)="selectedRow($event)"
                      [initDate] = "data"
                      [headerDate] = "headerData"
                      [moreData] = "moreData"
                      [buttons] = 'buttons'
            >
            </app-list>
        </p-card>
    </div>
    <div class="ui-g-6">
        <p-card  [style]="{width: '100%'}" *ngIf="treeshow">
            <app-tree [initDate] = "treedata"
                      [nodrop] = "nodrop"
                      [searchTitle] = "searchTitle"
                      [itemsData]="treemenus"
                      (Select)="TreeSelect($event)"
                      (MenuSelect)="RightSelect($event)"
                      (dropEvent)="dropEvent($event)"
                      (serchValue)="searchVal($event)"
                      [selectionType]='selectionType'
                      (develop)="Unfold($event)"></app-tree>
        </p-card>
    </div>
</div>

<nz-modal [nzVisible]="modalVisible"  [nzWidth]="1024" [nzTitle]="'新增业务字典'"  [nzConfirmLoading]="loading" [nzContent]="dictModal"
          (nzOnCancel)="modalVisible=false" (nzOnOk)="save()">
    <ng-template #dictModal>
        <div nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
            <div nz-col [nzSpan]="16" [nzPush]="7" class="mb-md">
                    <div nz-form-item class="d-flex">
                        <div nz-form-label><label for="fromType">字典项来源</label></div>
                        <div nz-form-control class="flex-1">
                            <nz-radio-group [(ngModel)]="dictAdd.fromType" >
                                <span *ngFor="let i of fromType;">
                                    <label  nz-radio   [nzValue]='i.key'>
                                        <span>{{i.text}}</span>
                                    </label>
                                </span>
                            </nz-radio-group>
                        </div>
                    </div>
             </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="dictType">字典类型</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="dictAdd.dictType"  name="dictType" [nzSize]="'large'" [nzPlaceHolder]="'业务字典类型'" nzId="dictType">
                            <nz-option  *ngFor="let i of dictType; let app = index" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="dictKey">业务字典</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictAdd.dictKey"  name="dictKey" [nzSize]="'large'" [nzPlaceHolder]="'DICT_XXXX'" nzId="dictKey"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="dictName">字典名称</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictAdd.dictName" name="dictName" [nzSize]="'large'" [nzPlaceHolder]="'字典名称'" nzId="dictName"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="guidParents">父字典</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="dictAdd.guidParents"  name="guidParents" [nzSize]="'large'" [nzPlaceHolder]="'父字典'" nzId="guidParents">
                            <nz-option  *ngFor="let i of guidParents; let app = index" [nzLabel]="i.dictKey +'-'+ i.dictName" [nzValue]="i.guid"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="seqNo">顺序号</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictAdd.seqno" name="seqno" [nzSize]="'large'" [nzPlaceHolder]="'顺序号'" nzId="seqno"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="dictDrsc">解释说明</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictAdd.dictDesc"  nzAutosize=true nzType="textarea" name="dictDrsc" [nzSize]="'large'" [nzPlaceHolder]="'解释说明'" nzId="dictDrsc"></nz-input>
                    </div>
                </div>
            </div>

            <!-- 來自单表或视图 -->
            <div nz-col  *ngIf="dictAdd.fromType =='1'" [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="fromTable">字典项来源表</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictAdd.fromTable" name="fromTable" [nzSize]="'large'" [nzPlaceHolder]="'字典项来源表'" nzId="fromTable"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col *ngIf="dictAdd.fromType === '1' || dictAdd.fromType === '2'" [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="usefroKey">作为字典项名称的列</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictAdd.useForKey" name="useForKey" [nzSize]="'large'" [nzPlaceHolder]="'作为字典项名称的列'" nzId="useForKey"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col *ngIf="dictAdd.fromType === '1' || dictAdd.fromType ==='2'" [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="defaultValue">字典项实际值</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictAdd.defaultValue" name="defaultValue" [nzSize]="'large'" [nzPlaceHolder]="'实际值'" nzId="defaultValue"></nz-input>
                    </div>
                </div>
            </div>

            <!--来自视图-->
            <div *ngIf="dictAdd.fromType =='2'" nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="sqlFilter">记录过滤条件</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictAdd.sqlFilter"  nzAutosize=true nzType="textarea" name="sqlFilter" [nzSize]="'large'" [nzPlaceHolder]="' 假如有表A 字段为a，b和表B 字段为c, d.其中A和B关联为A.a = B.c。需要以name为c，vlaue为d的字典，则填入 SELECT A.b, B.d FROM A, B WHERE A.a = B.c
'" nzId="sqlFilter"></nz-input>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</nz-modal>

<nz-modal [nzVisible]="dictionaryItems"  [nzWidth]="1024" [nzTitle]="'新增字典项'"  [nzConfirmLoading]="loading" [nzContent]="dictItemModal"
          (nzOnCancel)="dictionaryItems=false" (nzOnOk)="itemSava()">
    <ng-template #dictItemModal>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="itemType">字典项类型:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-radio-group [(ngModel)]="dictItemAdd.itemType">
                              <span  *ngFor="let i of itemType;">
                                    <label  nz-radio   [nzValue]='i.key'>
                                        <span>{{i.text}}</span>
                                    </label>
                                </span>
                        </nz-radio-group>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="itemName">字典项名称:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictItemAdd.itemName" name="itemName" [nzSize]="'large'" [nzPlaceHolder]="'字典项名称'" nzId="itemName"></nz-input>
                    </div>
                </div>
            </div>
            <!-- 字典项两个 -->
            <div *ngIf="dictItemAdd.itemType =='dict'" nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="itemName">字典项:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictItemAdd.itemValue" name="itemValue" [nzSize]="'large'" [nzPlaceHolder]="'字典项'" nzId="itemValue"></nz-input>
                    </div>
                </div>
            </div>
            <div *ngIf="dictItemAdd.itemType =='value'" nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="itemName">字典项:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%"  [(ngModel)]="dictItemAdd.itemValue"  name="dictType" [nzSize]="'large'" [nzPlaceHolder]="'字典项'" nzId="dictType">
                            <nz-option  *ngFor="let i of itemValue; let app = index" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="sendValue">实际值:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictItemAdd.sendValue" name="sendValue" [nzSize]="'large'" [nzPlaceHolder]="'实际值'" nzId="sendValue"></nz-input>
                    </div>
                </div>
            </div>


            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="itemName">顺序号:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictItemAdd.seqno" name="seqNo" [nzSize]="'large'" [nzPlaceHolder]="'顺序号'" nzId="seqNo"></nz-input>
                    </div>
                </div>
            </div>


            <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label for="itemDesc">字典项说明:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="dictItemAdd.itemDesc"  nzAutosize=true nzType="textarea" name="itemDesc" [nzSize]="'large'" [nzPlaceHolder]="'字典项说明'" nzId="itemDesc"></nz-input>
                    </div>
                </div>
            </div>

        </div>
    </ng-template>
</nz-modal>

