<div class="content__title">
    <h1>
        所有模块
    </h1>
    <button nz-button [nzType]="'primary'" class="mr-sm">新建模块</button>
</div>
 
    <nz-card nzTitle="模块一" nz-col [nzMd]="8" class="card-height clearfix">
            <nz-table
            #nzTable           
            [nzPageSize]="10"
            [nzBordered]="true"            
            [nzShowFooter]="false"
            [nzShowTitle]="false"
             >
           
            <tbody nz-tbody>
                <tr nz-tbody-tr>
                    <td nz-td>
                        <a href="javascript:void(0); " [routerLink] = "['/tables/form-detail/formDetail']">表一</a>
                    </td>
                   
                    <td nz-td>
                        <a href="javascript:void(0);">表二</a>                   
                    </td>

                    <td nz-td>
                        <a href="javascript:void(0);">表三</a>
                    </td>
                </tr>
            </tbody>
            
        </nz-table>

        <div class="btn-modelCount  clearfix">
            <button nz-button [nzType]="'primary'" class="mr-sm">修改</button>
            <button nz-button [nzType]="'primary'" class="mr-sm">删除</button>
        </div>       
    </nz-card>

   
 
 