<div nz-row [nzGutter]="16">
        <div nz-col [nzMd]="24">
            <nz-card nzTitle="表单详情">
                <form nz-form >
                    <div nz-row [nzGutter]="32">
                        <div nz-col [nzSpan]="8">
                            <div nz-form-item nz-row>
                                <div nz-form-label nz-col [nzSpan]="5">
                                    <label>字段一</label>
                                </div>
                                <div nz-form-control nz-col [nzSpan]="19">
                                    <nz-input [nzSize]="'large'" [nzPlaceHolder]="'placeholder'"></nz-input>
                                </div>
                                <div nz-form-label nz-col [nzSpan]="5">
                                    <label>字段二</label>
                                </div>
                                <div nz-form-control nz-col [nzSpan]="19">
                                    <nz-input [nzSize]="'large'" [nzPlaceHolder]="'placeholder'"></nz-input>
                                </div>
                                <div nz-form-label nz-col [nzSpan]="5">
                                    <label>字段三</label>
                                </div>
                                <div nz-form-control nz-col [nzSpan]="19">
                                    <nz-input [nzSize]="'large'" [nzPlaceHolder]="'placeholder'"></nz-input>
                                </div>
                            </div>
                        </div>
                    </div>                  
                </form>
            </nz-card>
        </div>
    </div>