<div class="content__title">
    <nz-breadcrumb [nzSeparator]="'>'">
        <nz-breadcrumb-item>
            首页
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a href="javascript:;">应用管理</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a href="javascript:;">{{appName}}--API详情</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</div>
<nz-card [nzBordered]="false"  nzTitle="{{appName}}--API">
    <!-- iframe引入外部页面-->
    <iframe id='orbitIframe'
            [src]="orbitUrl | safe"
            width="100%"
            style="min-height: 700px;"
            frameborder="0"
            align="center">
    </iframe>
</nz-card>

