<pro-header style="position:relative">
    <ng-template #tab >
        <nz-tabset *ngIf="tabShow" style="position:relative;left: 70%;"  [nzSize]="'default'" [nzSelectedIndex]="0">
            <nz-tab><ng-template #nzTabHeading><a [routerLink]="['group', id]">工作组详情</a></ng-template></nz-tab>
            <nz-tab><ng-template #nzTabHeading><a [routerLink]="['groupEmp', id]">员工</a></ng-template></nz-tab>
            <nz-tab><ng-template #nzTabHeading><a [routerLink]="['groupPost', id]">岗位</a></ng-template></nz-tab>
            <nz-tab><ng-template #nzTabHeading><a [routerLink]="['authority', id]">应用权限</a></ng-template></nz-tab>
        </nz-tabset>
    </ng-template>
</pro-header>

<div class="ui-g">
    <div class="ui-g-3">
        <p-card  [style]="{width: '100%'}">
            <app-tree [initDate] = "treedata" (develop)="Unfold($event)" [searchTitle] = "searchTitle"  [itemsData]="treemenus"  (Select)="TreeSelect($event)"   (MenuSelect)="RightSelect($event)"   (dropEvent)="dropEvent($event)" (serchValue)="searchVal($event)"></app-tree>
        </p-card>
    </div>
    <div class="ui-g-9">
        <p-card  *ngIf="tabShow">
            <router-outlet></router-outlet>
        </p-card>
    </div>
</div>


<!-- 弹出框 -->
<nz-modal [nzVisible]="modalVisible"  [nzWidth]="1024" [nzTitle]="'新增功能组'"  [nzConfirmLoading]="loading" [nzContent]="modalContent"
          (nzOnCancel)="modalVisible=false" (nzOnOk)="save()">
    <ng-template #modalContent>
        <!-- 主要信息 -->
        <div *ngIf="!ifshow" nz-row [nzType]="'flex'" [nzJustify]="'start'" [nzGutter]="24">
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label class="alignment"><label for="no">工作组类型:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="workItem.groupType"  name="groupType" [nzSize]="'large'" [nzPlaceHolder]="'工作组类型'" nzId="groupType">
                            <nz-option  *ngFor="let i of groupType;" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>

                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label class="alignment"><label for="no">工作组状态:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select [nzDisabled]="true"  style="width:100%" [(ngModel)]="workItem.groupStatus"  name="groupStatus" [nzSize]="'large'" [nzPlaceHolder]="'工作组状态'" nzId="groupStatus">
                            <nz-option    *ngFor="let i of groupStatus;" [nzLabel]="i.text" [nzValue]="i.key"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label class="alignment"><label for="no">工作组名称:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="workItem.groupName" name="groupName" [nzSize]="'large'" [nzPlaceHolder]="'工作组名称'" nzId="groupName"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label><label>所属机构:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-select style="width:100%" [(ngModel)]="workItem.guidOrg"  name="guidOrg" [nzSize]="'large'" [nzPlaceHolder]="'所属机构'" nzId="guidOrg">
                            <nz-option  *ngFor="let i of guidOrg;" [nzLabel]="i.orgName" [nzValue]="i.guid"></nz-option>
                        </nz-select>
                    </div>g
                </div>
            </div>
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label class="alignment"><label for="no">工作组代码:</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="workItem.groupCode" name="groupCode" [nzSize]="'large'" [nzPlaceHolder]="'工作组代码'" nzId="groupCode"></nz-input>
                    </div>
                </div>
            </div>
            <!--<div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label class="alignment"><label for="no">生效日期</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-datepicker [(ngModel)]="workItem.startDate" name="startDate" [nzSize]="'large'" [nzPlaceHolder]="'生效日期'" nzId="startDate" class="d-block"></nz-datepicker>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label class="alignment"><label for="no">失效日期</label></div>
                    <div nz-form-control class="flex-1">
                        <nz-datepicker [(ngModel)]="workItem.endDate" name="endDate" [nzSize]="'large'" [nzPlaceHolder]="'失效日期'" nzId="endDate" class="d-block"></nz-datepicker>
                    </div>
                </div>
            </div>-->
            <div nz-col [nzSpan]="24" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label class="alignment">
                        <label for="no">工作组描述:</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="workItem.groupDesc" nzAutosize=true nzType="textarea" name="groupDesc" [nzSize]="'large'" [nzPlaceHolder]="'工作组描述'"
                                  nzId="groupDesc"></nz-input>
                    </div>
                </div>
            </div>

        </div>
    </ng-template>
</nz-modal>

