<!--引入面包屑组件-->
<pro-header></pro-header>

<!--引入list组件-->
<nz-card [nzBordered]="false">

    <!--  form表单搜索 -->
    <form nz-form (ngSubmit)="search()" [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="SEQNAME">序号资源表名称</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="sequenceResource.seqName" name="name" [nzSize]="'large'" [nzPlaceHolder]="'序号资源表名称'" nzId="seqName"></nz-input>
                    </div>
                </div>
            </div>
            <div  nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="SEQKEY">序号键值</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="sequenceResource.seqKey" name="name" [nzSize]="'large'" [nzPlaceHolder]="'序号键值'" nzId="seqKey"></nz-input>
                    </div>
                </div>
            </div>
            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="SEQNO">序号数</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="sequenceResource.seqNo" name="name" [nzSize]="'large'" [nzPlaceHolder]="'序号数'" nzId="seqNo"></nz-input>
                    </div>
                </div>
            </div>
            <div *ngIf="expandForm" nz-col [nzSpan]="8" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="resetParams">重置处理参数</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="sequenceResource.resetParams" name="resetParams" [nzSize]="'large'" [nzPlaceHolder]="'重置处理参数'" nzId="resetParams"></nz-input>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="expandForm ? 24 : 8" class="mb-md" [class.text-right]="expandForm">
                <button nz-button type="submit" (click)="getDataByCondition()" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询</button>
                <button nz-button type="reset" (click)="resetf()" [nzSize]="'large'" class="mx-sm">重置</button>
                <a (click)="expandForm=!expandForm">
                    {{expandForm ? '收起' : '展开'}}
                    <i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i>
                </a>
            </div>
        </div>
    </form>
    <!--列表组件-->
    <app-list [initDate]="data" (addCreat)="addHandler($event)" [showAdd]="true" [configTitle]="configTitle"
              (buttonData)="buttonDataHandler($event)" (pageNumber)="monitorHandler($event)"
              (deleatData)="deleatData($event)" (isActive)="isActive($event)"
              (selectedRow)="selectedRow($event)" [headerDate]="headerData"
              [moreData]="moreData" [total]="total" (buttonEvent) = "buttonEvent($event)">

    </app-list>
</nz-card>




<!-- 弹出框 -->
<nz-modal [nzVisible]="modalVisible" [nzWidth]="1024" [nzTitle]="title" [nzConfirmLoading]="loading" [nzContent]="modalContent"
          (nzOnCancel)="cancel()" (nzOnOk)="save()">
    <ng-template #modalContent>
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="seqName">序号资源表名称</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="sequenceResource2.seqName"  name="name" [nzSize]="'large'" [nzPlaceHolder]="'序号资源表名称'"
                                  nzId="seqName"  [nzDisabled]="disableFlag" ></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="SEQKEY">序号键值</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="sequenceResource2.seqKey" name="name" [nzSize]="'large'" [nzPlaceHolder]="'序号键值'"
                                  nzId="seqKey" [nzDisabled]="disableFlag"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="SEQNO">序号数</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-input [(ngModel)]="sequenceResource2.seqNo" name="name" [nzSize]="'large'" [nzPlaceHolder]="'序号数'"
                                  nzId="seqNo" [nzDisabled]="disableFlag2"></nz-input>
                    </div>
                </div>
            </div>

            <div nz-col [nzSpan]="12" class="mb-md">
                <div nz-form-item class="d-flex">
                    <div nz-form-label>
                        <label for="RESET">重置方式</label>
                    </div>
                    <div nz-form-control class="flex-1">
                        <nz-select  style="width:100%;"  [(ngModel)]="sequenceResource2.reset" name="valueFrom" [nzSize]="'large'" [nzPlaceHolder]="'重置方式'"
                                   nzId="reset">
                            <nz-option  disabled   *ngFor="let i of reset; let app = index" [nzLabel]="i.key" [nzValue]="i.value"  ></nz-option>
                        </nz-select>
                    </div>

                </div>
            </div>
        </div>
    </ng-template>

</nz-modal>
